<center><h1><%= @item.name %></h1></center>

<center>
  <section id="description">
    <h3><%= @item.description %></h3>
  </section>
</center>

<center>
  <section id="unit-price">
    <h3><%= @item.unit_price %></h3>
  </section>
</center>